{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block main %}
<h1>Eat Up to Gain 560 of 1674 Calories today(1/02/2032)</h1>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
        style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% completed (120 of 203 calories), required=20 calories</div>
</div>
<hr>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Breakfast</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% completed (120 of 203 calories), required=20 calories</div>
            </div>
            <a name="" id="" class="btn btn-outline-primary mt-2" href="#" role="button">Gain 130 more Calories</a>
        </div>
    </div>
    
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Breakfast</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% completed (120 of 203 calories), required=20 calories</div>
            </div>
            <a name="" id="" class="btn btn-outline-primary mt-2" href="#" role="button">Gain 130 more Calories</a>
            
        </div>
    </div>
    
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Breakfast</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% completed (120 of 203 calories), required=20 calories</div>
            </div>
            <a name="" id="" class="btn btn-outline-primary mt-2" href="#" role="button">Gain 130 more Calories</a>
        </div>
    </div>
    
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Breakfast</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% completed (120 of 203 calories), required=20 calories</div>
            </div>
            <a name="" id="" class="btn btn-outline-primary mt-2" href="#" role="button">Gain 130 more Calories</a>
        </div>
    </div>
    
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Breakfast</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75% completed (120 of 203 calories), required=20 calories</div>
            </div>
            <a name="" id="" class="btn btn-outline-primary mt-2" href="#" role="button">Gain 130 more Calories</a>
        </div>
    </div>
    
    
 </div>
{% endblock main %}
{% block scripts %}{% endblock scripts %}